In [1]:
import pandas as pd
import zipfile
import xlrd

In [9]:
data=pd.DataFrame()
lista=[]

In [16]:
for i in range (10,20):
    x= zipfile.ZipFile(f'..//Final_Project/Altadis/FY{i}{i+1}/Master_Cigarrillos_FY{i}{i+1}(Septiembre).zip')
    df=pd.read_excel(x.open(f'Master_Cigarrillos_FY{i}{i+1}(Septiembre).xlsx'))
    continue
    data=pd.concat(data,df)

KeyError: "There is no item named 'Master_Cigarrillos_FY1011(Septiembre).xlsx' in the archive"

In [ ]:
df=pd.read_excel(x.open(f'Master_Cigarrillos_FY{i}{i+1}(Septiembre).xls'))

In [5]:
df

,Ranking_Ncal,Ranking_area,Ranking_Prov,ASM,Promotor_Responsable,customer_id,sapcode,name,city,province,...,WEST BLUE COMPACT,WEST BROOKLYN 100S,WEST BROOKLYN AZUL DURO,WEST BROOKLYN ROJO DURO,WEST DUO,WEST ICE,WEST RED,WEST RED 24,WEST RED COMPACT,WEST SILVER
0,1,1,1,JOAQUIN CORONA,JORDI NOGUER CONDOM,17010471,31565,LA JONQUERA-002,LA JONQUERA,GERONA,...,0,480000,220000,840000,0,0,0,0,0,0
1,2,2,2,JOAQUIN CORONA,JORDI NOGUER CONDOM,17010463,38795,LA JONQUERA-001,LA JONQUERA,GERONA,...,0,193000,78000,554000,0,0,0,0,0,0
2,3,3,3,JOAQUIN CORONA,JORDI NOGUER CONDOM,17011107,31569,ELS LIMITS-003,ELS LIMITS,GERONA,...,0,475000,180000,780000,60000,0,0,0,0,0
3,4,4,4,JOAQUIN CORONA,JORDI NOGUER CONDOM,17010497,16323,ELS LIMITS-001,ELS LIMITS,GERONA,...,0,315000,137000,554000,10000,0,0,0,0,0
4,5,5,1,JOAQUIN CORONA,MARC RODRIGUEZ PUXENCH,25080178,42018,LES-002,LES,LERIDA,...,0,370000,100000,300000,206600,0,0,105600,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12574,12571,3835,379,MIGUEL ANGEL LARRAYOZ DOMAICA,MIGUEL ANGEL LARRAYOZ DOMAICA,33030362,22196,LAS MESTAS-VILLATEGIL,CANGAS DEL NARCEA,ASTURIAS,...,0,0,0,0,0,0,0,0,0,0
12575,12572,3836,380,MIGUEL ANGEL LARRAYOZ DOMAICA,MIGUEL ANGEL LARRAYOZ DOMAICA,33190208,22551,MUÐALEN-TINEO,MUÐALEN-TINEO,ASTURIAS,...,0,0,0,0,0,0,0,0,0,0
12576,12573,2639,293,MARIA DOLORES MARTINEZ CRIADO,ESPERANZA CABALLERO MILLO,11110160,14323,SAN FERNANDO-015,SAN FERNANDO,CADIZ,...,0,0,0,0,0,0,0,0,0,0
12577,12573,3986,413,GONZALO LORAS LAGUIA,GONZALO LORAS LAGUIA,30000855,20880,BOQUERAS PUEBLA SOTO,BOQUERAS PUEBLA SOTO,MURCIA,...,0,0,0,0,0,0,0,0,0,0
12578,12573,3986,413,GONZALO LORAS LAGUIA,GONZALO LORAS LAGUIA,30001416,40618,EL RAAL-SALADAR,EL RAAL-SALADAR,MURCIA,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
Octavio_bonus = pd.read_csv(x.open('Food_Supply_Quantity_kg_Data_No_Header.txt'), names=cols_2['Categories'], sep='\t')