#### Importing libraries

In [1]:
import requests
import datetime
from bs4 import BeautifulSoup
import pandas as pd
import re

#### Web scrapping

In [2]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/29005?nult=2'
respuesta = requests.get(url)
respuesta

In [9]:
datos = respuesta.json()
data=pd.DataFrame.from_records(datos)
data.head()

,COD,Data,FK_Escala,FK_Unidad,Nombre
0,DPOP19723,"[{'Fecha': 1546297200000, 'FK_TipoDato': 1, 'F...",1,3,Ababuj. Total. Total habitantes. Personas.
1,DPOP19724,"[{'Fecha': 1546297200000, 'FK_TipoDato': 1, 'F...",1,3,Ababuj. Hombres. Total habitantes. Personas.
2,DPOP19725,"[{'Fecha': 1546297200000, 'FK_TipoDato': 1, 'F...",1,3,Ababuj. Mujeres. Total habitantes. Personas.
3,DPOP17671,"[{'Fecha': 1546297200000, 'FK_TipoDato': 1, 'F...",1,3,Abades. Total. Total habitantes. Personas.
4,DPOP17672,"[{'Fecha': 1546297200000, 'FK_TipoDato': 1, 'F...",1,3,Abades. Hombres. Total habitantes. Personas.

In [10]:
data['Fecha']=data['Data'].apply(lambda x: [next(iter(d.values())) for d in x])
data['Año']=data['Data'].apply(lambda x:[d.get('Anyo') for d in x])
data['Población']=data['Data'].apply(lambda x:[d.get('Valor') for d in x])

In [11]:
data['Fecha']=data['Fecha'].apply(lambda x: re.sub('\]','',str(x)))
data['Fecha']=data['Fecha'].apply(lambda x: re.sub('\[','',str(x)))

In [27]:
data['Fecha']=data.astype({"Fecha": int})

ValueError: invalid literal for int() with base 10: ''

In [17]:
data['Fecha']=data['Fecha'].apply(lambda x: datetime.date.fromtimestamp(
                      int(x) // 1000))

ValueError: invalid literal for int() with base 10: ''

In [12]:
data['Año']=data['Año'].apply(lambda x: re.sub('\]','',str(x)))
data['Año']=data['Año'].apply(lambda x: re.sub('\[','',str(x)))

In [13]:
data['Población']=data['Población'].apply(lambda x: re.sub('\]','',str(x)))
data['Población']=data['Población'].apply(lambda x: re.sub('\[','',str(x)))

In [14]:
data.head()

,COD,Data,FK_Escala,FK_Unidad,Nombre,Fecha,Año,Población
0,DPOP19723,"[{'Fecha': 1546297200000, 'FK_TipoDato': 1, 'F...",1,3,Ababuj. Total. Total habitantes. Personas.,1546297200000,2019,73.0
1,DPOP19724,"[{'Fecha': 1546297200000, 'FK_TipoDato': 1, 'F...",1,3,Ababuj. Hombres. Total habitantes. Personas.,1546297200000,2019,45.0
2,DPOP19725,"[{'Fecha': 1546297200000, 'FK_TipoDato': 1, 'F...",1,3,Ababuj. Mujeres. Total habitantes. Personas.,1546297200000,2019,28.0
3,DPOP17671,"[{'Fecha': 1546297200000, 'FK_TipoDato': 1, 'F...",1,3,Abades. Total. Total habitantes. Personas.,1546297200000,2019,848.0
4,DPOP17672,"[{'Fecha': 1546297200000, 'FK_TipoDato': 1, 'F...",1,3,Abades. Hombres. Total habitantes. Personas.,1546297200000,2019,417.0

In [6]:
for x in datos['Data']:
    fecha = 
    ocupados = x['Valor']
    print(fecha, ocupados)

TypeError: list indices must be integers or slices, not str

In [ ]:
print(datos['Nombre'])
for x in datos['Data']:
    fecha = datetime.date.fromtimestamp(
                      x['Fecha'] // 1000)
    ocupados = x['Valor']
    print(fecha, ocupados)